* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}
body {
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, #116466 0%, rgb(0,0,0,0.9) 100%);
    background-blend-mode: normal;
    background-attachment: fixed;
}


/* default scrollbar */

::-webkit-scrollbar {
    width: 9px;
    background: transparent
}
::-webkit-scrollbar-track {
    background: #292B31;
}
.task-text textarea::-webkit-scrollbar-track {
    background: #292B31;
    border-radius: 20px;
}
.box::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.box::-webkit-scrollbar-track-piece:start {
    margin: 4px;
}
.box::-webkit-scrollbar-track-piece:end {
    margin: 5px;
}

/* banner */

.banner {
    width: 100%;
    background-color: #212121;
    padding: 20px 0;
}
.banner-logout a {
    position: absolute;
    right: 20px;
    top: 20px;
    margin-right: 4%;
    color: white;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
}
.banner-logout a:hover {
    color: #139fa1;
    transition: 0.2s;
}
.banner-links h1 {
    position: absolute;
    left: 20px;
    top: 20px;
    margin-left: 3%;
    font-size: 26px;
    color: white;
}
.banner-links ul {
    font-size: 26px;
    list-style: none;
    text-align: center;
}
.banner-links ul li {
    display: inline-block;
    padding: 0 50px;
}
.banner-links a {
    color: rgb(170, 170, 170);
    text-decoration: none;
}
.banner-links a:hover {
    color: #139fa1;
    transition: 0.2s;
}
.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;        
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;       
    display: inline-block;
}
@keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) } 
    100% { transform: rotate( 0.0deg) }
}

/* To-do list */

.box {
    width: 650px;
    height: 700px;
    margin: 4% auto;
    background: #292B31;
    border-radius: 10px;
    box-shadow: black 1px 1px 5px;
    overflow-y: scroll;
}
.box-banner {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
}
.box-banner h1 {
    color: rgb(170, 170, 170);
    font-size: 14px;
}
.box-banner h2 {
    color: white;
    font-size: 14px;
}
#add-task {
    margin-right: 5px;
    padding: 0 7px;
    background-color:#4c505c;
    border: none;
    border-radius: 20px;
    color: rgb(170, 170, 170);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
#add-task:hover {
    background-color: #139fa1;
    color: black;
    transition: 0.2s;
}
.progress {
    margin: 0 40px;
    padding: 10px 0;
}
.progress-box {
    display: flex;
    justify-content: space-between;
}
.fa-bars {
    color: rgb(170, 170, 170);
    padding-right: 10px;
}
.progress-box h1 {
    color: rgb(170, 170, 170);
    font-size: 14px;
}
.progress-box h2 {
    color: white;
    font-size: 14px;
    text-align: right;
}
.progress-bar {
    width: 100%;
    height: 4px;
    background-color:rgb(82, 82, 82);
    border-radius: 20px;
    margin: 5px 0;
}
.progress-bar-fill  {
    width: 40%;
    height: 100%;
    background-color: #FFA048;
    border-radius: 20px;
    transition: 0.3s;
}
.task {
    margin: 0 40px;
    margin-bottom: 15px;
    height: 140px;
    background-color:#363941;
    border-radius: 5px;
    box-shadow: black 1px 1px 5px;
}
.task-box {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
.task-box h1 {
    color: white;
    font-size: 14px;
}
.task-box h2 {
    color: rgb(170, 170, 170);
    font-size: 12px;
    background-color:#4c505c;
    padding: 5px 15px;
    border-radius: 10px
}
.fa-trash-o {
    color: white;
    cursor: pointer;
}
.task-text {
    padding: 0 20px;
}
.task-text textarea {
    width: 100%;
    height: 75px;
    border: none;
    background-color:#363941;
    color: white;
    font-size: 14px;
    resize: none;
}
.task-text textarea:focus {
    outline: none;
}
.task-text textarea::placeholder {
    color: rgb(124, 124, 124);
}