body {
    background-color: #116466;
    color: white;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    line-height: 1.42857143;
    margin: 0;
    padding: 0;
    text-align: center;
}
#header h1, h2 {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 25px;
}
#header h2 {
    color: #15B4B8
}
#about {
    margin: 0 440px;
    padding: 1px 0 15px 20px;
    background-color: #24262C;
    border-radius: 20px;
    text-align: left;
    font-family: "Quicksand", sans-serif;
    box-shadow: black 0px 0px 3px;
}
#about h3 {
    font-size: 30px;
    font-weight: 100;
}
.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#creators {
    padding-top: 30px;
}
#creators h2 {
    font-size: 1.5em;
    text-align: center;
}
.profile-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 500px;
    padding: 10px 0;
}

#register-btn button {
    margin-top: 20px;
    padding: 15px 30px;
    font-family: "Quicksand", sans-serif;
    font-size: 1.5em;
    color: white;
    background-color: #118d8f;
    box-shadow: black 0px 0px 3px;
    border: none;
    border-radius: 15px;
}