body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: radial-gradient(ellipse at center, #116466 0%, rgb(0,0,0,0.9) 100%);
    background-attachment: fixed;
    color: white;
    font-family: "Quicksand", sans-serif;
    line-height: 1.42857143;
    text-align: center;
}
#header h1, h2 {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 70px;
    line-height: 25px;
}
#header h2 {
    color: #15B4B8;
    padding-bottom: 10px;
}
#about {
    display: inline-block;
    padding: 0 15px 15px 20px;
    background-color: #292B31;
    border-radius: 20px;
    text-align: left;
    box-shadow: black 1px 1px 5px;
}
#about h3 {
    font-size: 30px;
    font-weight: bold;
}
#about p {
    font-size: 18px;
    font-weight: 100;

}
#creators {
    padding-top: 15px;
}
#creators h2 {
    font-size: 1.5em;
    text-align: center;
}
.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.profile p {
    font-size: 18px;
    padding-bottom: 40px;
}
.profile-box {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

#register-btn a {
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    background-color: #118d8f;
    border: 1px solid white;
    border-radius: 15px;
}
#register-btn a:hover {
    background-color: #15B4B8;
    color: white;
    border: 1px solid white;
    transition: 0.2s
}
@media screen and (max-width: 320px) {
    #header h1, h2 {
        font-size: 40px;
    }
    #header h2 {
        padding-bottom: 25px;
    }
    #about {
        text-align: center;
        margin: 0 15px;
    }
    .profile-box {
        flex-wrap: wrap;
        width: 75%;
    }
    .profile {
        padding-bottom: 0;
    }
    #register-btn {
        padding-bottom: 30px;
    }
    #register-btn a {
        padding: 10px 20px;
        font-size: 1.2em;
    }
}

@media screen and (max-width: 480px) {
    #header h1, h2 {
        font-size: 50px;
    }
    #about {
        text-align: center;
        margin: 0 15px;
    }
    .profile-box {
        flex-wrap: wrap;
        width: 70%;
    }
    .profile {
        padding-bottom: 0;
    }
    #register-btn {
        padding-bottom: 30px;
    }
    #register-btn a {
        padding: 10px 20px;
        font-size: 1.2em;
    }
}

@media screen and (max-width: 768px) {
    #header h1, h2 {
        font-size: 60px;
    }
    #about {
        margin: 0 15px;
    }
    .profile-box {
        flex-wrap: wrap;
        width: 60%;
    }
    .profile {
        padding-bottom: 0;
    }
    #register-btn {
        padding-bottom: 30px;
    }
    #register-btn a {
        padding: 10px 20px;
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1600px) {
    #register-btn {
        padding-bottom: 50px;
    }
}