* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, #116466 0%, rgb(0, 0, 0, 0.9) 100%);
    background-attachment: fixed;
    color: white;
    font-family: "Quicksand", sans-serif;
    text-align: center;
}


/* DEFAULT SCROLLBAR */

::-webkit-scrollbar {
    width: 9px;
    background: transparent
}

::-webkit-scrollbar-track {
    background: #292B31;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

ul {
    list-style: none;
}


/* PROFILE BOX */

.profile-box {
    width: 380px;
    height: 500px;
    margin: 5% auto;
    background: #292B31;
    overflow: hidden;
    box-shadow: black 1px 1px 5px;
    border-radius: 20px;
}


/* PROFILE TEXT BOX */

.profile ul {
    list-style: none;
    margin: 25px 10px
}

.profile ul p {
    padding-left: 15px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.profile ul input {
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    text-align: center;
    margin-bottom: 25px;
}
.profile ul input::placeholder {
    color: rgb(160, 160, 160);
}

#input-box:focus {
    outline: none;
    border: #139fa1 2px solid;
}


/* PROFILE SAVE BUTTON */

.profile-btn {
    margin-top: -10px;
    text-align: center;
}

.profile-btn button {
    background-color: #00d8ca;
    border: none;
    border-radius: 20px;
    color: black;
    padding: 10px 50px;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
}

.profile-btn button:hover {
    background-color: #139fa1;
    transition: 0.2s
}


.banner {
    width: 100%;
    background-color: #212121;
    padding: 20px 0;
}
.banner-logout a {
    position: absolute;
    right: 20px;
    top: 20px;
    margin-right: 4%;
    color: white;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
}
.banner-logout a:hover {
    color: #139fa1;
    transition: 0.3s;
}
.banner-links ul {
    font-size: 26px;
    list-style: none;
    text-align: center;
}
.banner-links ul li {
    display: inline-block;
    padding: 0 50px;
}
.banner-links a {
    color: rgb(170, 170, 170);
    text-decoration: none;
}
.banner-links a:hover {
    color: #139fa1;
    transition: 0.3s;
}


/* RESPONSIVE SCALING */

@media screen and (max-width: 320px) {
    .profile-box {
        width: 250px;
    }
    .banner-logout {
        text-align: center;
    }
    .banner-logout a {
        position: initial;
        padding: 0;
        margin: 0;
    }
    .banner-links ul{
        text-align: center;
        display: block;
        padding-bottom: 15px;
    }
    .box-banner {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .profile-box {
        width: 300px;
    }
    .banner-content {
        text-align: center;
    }
    .banner-links ul {
        font-size: 20px;
    }
    .banner-links ul li {
        padding: 0;
    }
    .banner-logout a {
        font-size: 22px;
    }
    .banner-logout {
        text-align: center;
    }
    .banner-logout a {
        position: initial;
        padding: 0;
        margin: 0;
    }
}
@media screen and (max-width: 620px) {
    .banner-links ul {
        font-size: 24px;
    }
    .banner-links ul li {
        padding: 0 25px;
    }
}